<!-- ─── SIDEBAR ─── -->
  <aside class="sidebar">

    <%= render(ForecastDashboard::SidePanel::SearchBarComponent.new) %>

    <div>
      <%= render(ForecastDashboard::SidePanel::CityInfoComponent.new) %>

      <%= render(ForecastDashboard::SidePanel::OwnershipComponent.new) %>
    </div>

  </aside>
