<aside class="forecast-sidebar">
  <%= render(ForecastDashboard::SidePanel::SearchBarComponent.new(value: search_value)) %>

  <div class="forecast-sidebar__content">
    <%= render(ForecastDashboard::SidePanel::CityInfoComponent.new(sidebar_info: sidebar_info)) %>
    <%= render(ForecastDashboard::SidePanel::OwnershipComponent.new) %>
  </div>
</aside>
