<section class="sidebar-city-info">
  <h2 class="sidebar-city-info__title"><%= sidebar_info.location_name %></h2>
  <% if sidebar_info.postal_code.present? %>
    <p class="sidebar-city-info__meta">ZIP <%= sidebar_info.postal_code %></p>
  <% end %>
  <% if sidebar_info.cache_hit %>
    <p class="sidebar-city-info__meta">Loaded from cache</p>
  <% end %>
</section>
